[x-cloak] { display: none !important; }

.custom-modal-wrapper {
  z-index: 1050; 

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-y: auto;
  outline: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6); 
}

.custom-modal-dialog {
  z-index: 1051;

  position: relative;
  width: 90%;
  max-width: 1200px;
  max-height: 90vh;

  margin: 1.75rem auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

  overflow: hidden; 

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.custom-modal-content {
  background-color: white;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: column; 
  
  flex-grow: 1;
  min-height: 0; 
}

.custom-modal-header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-modal-body {
  flex: 1 1 auto;
  overflow-y: auto; 
  padding: 1rem; 
}

.custom-modal-footer {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
}

/* .custom-close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

/*
 .stic_panel {
  all: unset !important;
  display: block !important;
  box-sizing: border-box !important;
  font-family: var(--bs-body-font-family);
  font-family: "Lato", Lato, Arial, sans-serif;
  font-size: 13px;
} 
*/
/* .stic_panel button,
.stic_panel .btn,
.stic_panel button[type="button"].btn {
  background-color: transparent !important; 
  border: 1px solid transparent !important; 
  color: inherit !important; 
  padding: 0 !important; 
} */

.selectize-dropdown .option {
  opacity: unset !important;
}

.stic_panel {
  font-size: unset !important;
}

.stic_panel table {
  caption-side: top;
}

.w-32px {
  width: 32px !important;
}
.mb-1px {
  margin-bottom: 1px;
}

#wizard-section-title {
  text-transform: uppercase;
  margin-top: 1rem;
}

.wizard-container {
  height: 700px;
  overflow-y: auto;
  margin: 0 0 1em 0;
}

.wizard-nav .button[disabled],
.wizard-nav .button[disabled]:hover {
  background-color: #828282 !important;
  cursor: not-allowed;
}

.accordion-header {
  font-size: unset !important;
  text-align: start !important;
}

.card .datablock {
  border-width: medium;
}

.datablock-module {
  margin: -5px 0px -5px -6px;
}

/* [required] + label::after {
  content: " *";
  color: red;
} */

label.field-required::after {
  content: " *";
  color: red;
}


/* input:invalid,
select:invalid {
  background-color: #ffe6e6;
  border-color: red;
}

input:invalid + label,
select:invalid + label {
  color: red;
} */

.modal.fade.show {
  z-index: 99999 !important; 
  overflow-x: hidden;
  overflow-y: auto;
}

.form-switch {
  padding-left: calc(var(--bs-gutter-x) * .5);
}
.form-switch .form-check-input {
  margin-left: inherit;
}

.stic_panel button {
  text-transform: capitalize !important;
}

.stic_panel .btn {
  font-size: unset !important;
  text-transform: none !important;
  margin-right: 5px !important;
  height: 32px !important;
  min-width: 32px !important;
}
.stic_panel .input-group .btn {
  margin-right: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-bottom: 1.5rem;
}

.btn[disabled] {
  text-transform: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

select,
textarea {
  max-width: 100% !important;
}

textarea,
.selectize-control {
  width: 100% !important;
}

.form-control,
.form-select {
  line-height: 20px;
  min-height: 34px;
  padding: 5px;
  font-size: 1em;
}

.form-select.selectize-control {
  height: auto !important;
  border: none;
  padding: 0;
}

.selectize-input.focus {
  border-color: #86b7fe !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.selectize-dropdown .selected {
  color: inherit;
  font-weight: bold;
}

.jstree-icon {
  background-image: none !important;
}

.wizard-sidebar {
  display: flex;
  flex-direction: column;
  resize: horizontal;
  overflow: hidden;
  width: 250px;
  min-width: 150px;
  max-width: 600px;
}

.wizard-tree {
  flex: 1;
  overflow: auto;
}

.suitepicon {
  color: inherit;
}

h3,
h4 {
  font-weight: inherit;
}

.card {
  margin-bottom: 5px;
}
.card-title {
  font-weight: bold;
  margin-bottom: 0;
}
.card-body {
  padding: 5px;
}

.stic-tree-item.selected {
  font-weight: bold;
}

.spinner-container {
  height: 100%;
  display: flex;
}

.accordion-button {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  background-color: #e9ecef;
  padding: 5px;
}

.accordion-button:not(.collapsed) {
  font-weight: bolder;
  color: inherit;
  background-color: #dee2e6;
}

.accordion-body {
  padding: 5px;
}

/* TABS */
/* Amaguem els radio buttons originals */
.stic-tab input {
  display: none;
}

/* Estil per a les etiquetes, que seran les nostres "pestanyes" */
.stic-tab label {
  /* Propietats bàsiques per semblar un botó */
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0; /* Arrodoniment superior */

  /* Estil inactiu */
  background-color: #dee2e6; /* #f8f9fa Gris clar, típic de pestanyes inactives */
  color: #495057;
  border-color: #dee2e6 #dee2e6 #fff;
  margin-bottom: -1px; /* Per a que es solapi amb el contenidor del panell */
  margin-right: 1px;
  margin-left: 1px;
}

/* Estil quan la pestanya està seleccionada (el radio button està "checked") */
.stic-tab input:checked + label {
  /* Estil actiu */
  background-color: #fff;
  /* border-color: #dee2e6 #dee2e6 #fff; */
  border-color: #0d6efd #dee2e6 #fff;
  border-top-width: 2px;
  color: #495057;
  font-weight: 500;
}

/* Efecte visual quan es passa el ratolí per sobre */
.stic-tab label:hover {
  background-color: #e9ecef;
  border-color: #e9ecef #e9ecef #dee2e6;
}

/* Estils per al contenidor dels radio buttons */
.stic-tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex; /* Per assegurar que les pestanyes estiguin en una sola línia */
  margin-bottom: 0 !important; /* Per a que el panell de sota s'enganxi */
}

/* Estil per al contenidor del panell de contingut */
.stic-tabcontent {
  border: 1px solid #dee2e6;
  border-top: none; /* Sense la vora superior, ja que l'etiqueta la tapa */
  padding: 1rem;
}
