/**
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU AFFERO GENERAL PUBLIC LICENSE
 * along with this program; if not, see http://www.gnu.org/licenses
 * or write to the Free Software Foundation,Inc., 51 Franklin Street,
 * Fifth Floor, Boston, MA 02110-1301  USA
 * @Package Gantt chart
 * @copyright Andrew Mclaughlan 2014
 * @author Andrew Mclaughlan <andrew@mclaughlan.info>
 *
 * This file has been modified by SinergiaTIC in SinergiaCRM.
 * SinergiaCRM is a work developed by SinergiaTIC Association, based on SuiteCRM.
 * Copyright (C) 2013 - 2023 SinergiaTIC Association
 *
 * You can contact SinergiaTIC Association at email address info@sinergiacrm.org.
 */

.stic-about-main {
  font-size: 1.4rem;
  box-sizing: border-box;
}

.stic-header {
  display: flex;
  margin-block-end: 2rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: baseline;
}

.stic-title-wrapper {
  flex: 1;
}

.stic-software-version-card {
  flex: 0 0 auto;
  border: 1px solid var(--lt-color-gray-300);
  padding: 2rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--lt-color-gray-600);

  & .stic-software-version:first-child {
    font-weight: 600;
    color: var(--lt-color-gray-600);
  }
}

.stic-page-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--lt-color-gray-600);
}

.stic-sinergiacrm-section {
  margin-block-end: 1.5rem;
}

.stic-about-divider {
  border-top: 1px solid var(--lt-color-gray-300);
  margin-block: 4rem;
}

.stic-about-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.stic-about-content {
  flex: 1 0 600px;
  min-width: 600px;
}

.stic-about-financial {
  flex-basis: 100%;
}

.stic-about-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-block-end: 1rem;
}

.stic-about-list {
  font-size: 1.4rem;
  color: var(--lt-color-gray-600);
  list-style: disc;
  padding-inline-start: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 1rem;
  & li {
    margin-block-end: 0.8rem;
  }
}

.stic-about-financial-image {
  max-width: 60%;
  height: auto;
}

@media (width < 1024px) {
  .stic-about-financial-image {
    max-width: 100%;
  }
}

/* END STIC */
