$stic-base: #b5bc31;
$stic-dark: darken($stic-base, 7%);
$stic-light: lighten($stic-base, 7%);
$stic-superlight: lighten($stic-base, 35%);
$stic-complement: #353535;
$stic-main-bg: #f5f5f5;
$stic-text: #353535;
$stic-btn: $stic-text;
$stic-sidebar: #353535;
$stic-sidebar-text:  #f5f5f5;